{% extends 'base.html'  %}
{% load static %}
{% block title %}
CASHHIVE
{% endblock %}
{% block body %}
<div>
    <div class="custom-bg" style="background-image:url({% static 'img/bank1.jpg' %})">
        <div class="text-center center">
            <div class="custom-title ">
            CASHHIVE
            </div>
            <div>
                <a href="/registerpg/"><button class="btn " style="width:150px;background-color:white;">JOIN US</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}